[submodule "janus-gateway-client"]
	path = janus-gateway-client
	url = https://github.com/IG-88-2/janus-gateway-client
	branch = master
[submodule "react-videoroom-janus"]
	path = react-videoroom-janus
	url = https://github.com/IG-88-2/react-videoroom-janus
